<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<div class="form-group">
  <label for="exampleSelect1">Example select</label>
  <select class="form-control div-toggle" data-target=".device-names" id="device-select">
    <% @devices.each do |device| %>
      <option value="<%= device.id %>" data-show=".<%= device.device_name %>"><%= device.device_name.titleize %></option>
    <% end %>
  </select>
</div>

<div class="device-names">
  <% @devices.each do |device_div| %>
      <div class="<%= device_div.device_name %> invisible" value="<%= device_div.id %>">
        <%= device_div.device_name %>
      </div>
  <% end %>
</div>



<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |

<%= link_to 'Back', manufacturers_path %>

<script type="text/javascript">
  $(document).on('change', '.div-toggle', function() {
      var target = $(this).data('target');
      var show = $("option:selected", this).data('show');
      $(target).children().addClass('invisible');
      $(show).removeClass('invisible');
  });
  $(document).ready(function() {
      $('.div-toggle').trigger('change');
  });
</script>

<script type="text/javascript">
    $('#device-select').selectize({
        sortField: 'text'
    });
    $('#device-select').change(function (){
        var selectedData = $(this).attr('data-value');
        console.log(selectedData);
        $('.device-names').find('[value=' + selectedData+']').removeClass('invisible');

    })

</script>