<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

  <%= @manufacturer.image_data %>
  <% if @manufacturer.try(:image) %>
    <%= image_tag @manufacturer.image.url(public: true) %>
  <% else %>

  <% end %>

<div class="form-group">
  <label for="exampleSelect1">Choose your <%= @manufacturer.name.titleize %> device </label>
  <select class="form-control div-toggle" data-target=".device-names" id="device-select">
    <option>Choose your device.</option>
    <% @devices.each do |device| %>
      <option value="<%= device.id %>" data-show=".<%= device.device_name %>"><%= device.device_name.titleize %></option>
    <% end %>
  </select>
</div>

<div class="device-names">
  <% @devices.each do |device_div| %>
      <div class="invisible" id="<%= device_div.id %>">
        <%= device_div.device_name %>
      </div>
  <% end %>
</div>



<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |

<%= link_to 'Back', manufacturers_path %>

<script type="text/javascript">
    $('#device-select').selectize({
        sortField: 'text'
    });
    var prev;
    $('#device-select').change(function (){
        if(prev){
            prev.addClass('invisible');
        }
        var selectedData = $("#device-select option:selected").val()
        // console.log(selectedData);
       var el = $('#'+ selectedData);
        el.removeClass('invisible');
        prev = el;
    })
</script>